<div class="navcontainer">
    <nav class="nav">
        <div class="nav-upper-options">
            <div class="nav-option logout">
                <i class="fa-solid fa-user fa-2x"></i>
                <h3><a style="color: #000000;text-decoration: none;" href="/admin">Users</a> </h3>
            </div>


            <div class="nav-option logout">
                <i class="fa-solid fa-eye"></i>
                <h3><a style="color: #000000;text-decoration: none;" href="/admin/daily-visit"> Daily Visit </a> </h3>
            </div>

            <div class="nav-option logout">
                <i class="fa-solid fa-house fa-2x"></i>
                <h3><a style="color: #000000;text-decoration: none;" href="/"> Home </a> </h3>
            </div>

        </div>
    </nav>
</div>